<a href="/wishlist"> <h3>Return to Wishlist</h3> </a>

<div >
    <div id="showItem"> 
    <h1> <%= wish.name %> </h1>

    <h2> <em><%=wish.description%></em> </h2>

    <img style = "width: 200px;" src = "<%=wish.image%>" alt="">

    <h2>Why: <%=wish.why%></h2>

    <a href="/wishlist/<%=wish.id%>/edit">Edit</a>
    </div>  
</div>

  